<footer>
    <div class="container">
        <div class="footer_inner-contain">
            <div class="row m-0">
                <div class="col-lg-2">
                    <div class="footer-logo">
                        <img src="assets/images/logo.png" alt="img" />
                    </div>
                </div>
                <div class="col-lg-10 px-">
                    <div class="row m-0">
                        <div class="col-md-3 mt-lg-0 mt-3">
                            <div class="footer-menu">
                                <h4>Company</h4>
                                <ul class="ftr_menu_list pt-3">
                                    <li class="pb-2">
                                        <a href="">Home</a>
                                    </li>
                                    <li class="pb-2">
                                        <a href="">About Us</a>
                                    </li>
                                    <li class="pb-2">
                                        <a href="">Products</a>
                                    </li>
                                    <li class="pb-2">
                                        <a href="">Shop</a>
                                    </li>
                                    <li class="pb-lg-0 pb-2">
                                        <a href="">Contacts</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 mt-lg-0 mt-3">
                            <div class="footer-menu">
                                <h4>Useful Link</h4>
                                <ul class="ftr_menu_list pt-3">
                                    <li class="pb-2">
                                        <a href="">New Products</a>
                                    </li>
                                    <li class="pb-2">
                                        <a href="">Best Sellar</a>
                                    </li>
                                    <li class="pb-lg-0 pb-2">
                                        <a href="">Online Shopping</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 mt-lg-0 mt-3">
                            <div class="footer-menu">
                                <h4>Infomation</h4>
                                <ul class="ftr_menu_list pt-3">
                                    <li class="pb-2">
                                        <a href="">Contact Us</a>
                                    </li>
                                    <li class="pb-2">
                                        <a href="">Shipping Faq</a>
                                    </li>
                                    <li class="pb-2">
                                        <a href="">Terms & Condition</a>
                                    </li>
                                    <li class="pb-lg-0 pb-2">
                                        <a href="">Privacy Policy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 mt-lg-0 mt-3">
                            <div class="footer-contact-detail pt-lg-5">
                                <ul class="ftr_location_detail">
                                    <li class="pb-4 d-flex align-items-center">
                                        <img src="assets/images/location.png" width="25px" alt="location" />
                                        <p>silver business point, G-20, Uttran, Surat, Gujarat 394105</p>
                                    </li>
                                    <li class="pb-4 d-flex align-items-center">
                                        <img src="assets/images/call.png" width="30px" alt="call" />
                                        <a class="text-white" href="tel:+919737430468">+91 9737430468</a>
                                    </li>
                                    <li class="pb-4 d-flex align-items-center">
                                        <img src="assets/images/email.png" width="30px" alt="email" />
                                        <a class="text-white" href="mailto:info@dreamdazzle.com">infodreamdazzle.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>