<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>
    <div class="form-container login-shadow">
        <h1>Reset Password</h1>
        <form asp-action="ResetPassword">
            <div class="form-group">
                <label for="email">Email</label>
                <input  id="email" name="username" [(ngModel)]="resetpassword.email" type="email" required />
            </div>
            <div class="form-group">
                <label for="password">New Password</label>
                <input id="password" name="NewPassword" [(ngModel)]="resetpassword.NewPassword" type="password" required />
            </div>
            <div class="form-group">
                <label for="confirmpassword">Confirm Password</label>
                <input id="confirmpassword"name="ConfirmPassword" [(ngModel)]="resetpassword.ConfirmPassword" type="password" required />
            </div>
            <button type="submit" class="btn" (click)="resetPasswords()">Reset Password </button>
        </form>
    </div>
</body>
</html>
