.form_inner-data {
    max-width: 650px;
    width: 100%;
}

.login-title {
    font-size: 55px;
    font-weight: 400;
    line-height: 70px;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

.login-form {
    background-image: url('../../../assets/images/lgin-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@font-face {
    font-family: "HermeneusOne";
    font-weight: 400;
    src: url("../../font/HermeneusOne-Regular.ttf") format(truetype);
}

.eye-img {
    position: absolute;
    right: 0;
    cursor: pointer;
    top: calc(50% - 15px / 2);
}

/* =====  Common Css ===== */
.loginbtn {
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    padding: 10px 50px;
    border-radius: 20px;
    color: #fff;
    background: #6D6D6D;
    font-family: "Hind", sans-serif !important;
}

.login-input {
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    color: #000;
    padding: 15px 0;
    text-align: left;
    font-family: "Hind", sans-serif !important;
    border-bottom: 1px solid #000 !important;
}

.forgot-password {
    right: 0;
    bottom: -15px;
    font-size: 13px;
    cursor: pointer;
    color: #6D6D6D;
}

.signinpage-btn {
    color: #6D6D6D !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #D0D4D7;
}

.loginpage-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.sign-sub-title {
    font-family: "HermeneusOne" !important;
    font-size: 33px;
    font-weight: 400 !important;
    line-height: 39px;
    text-align: left;
    color: #000;
    padding-bottom: 80px;

}

.signup-form .login-titles {
    letter-spacing: 3px !important;
}

.login-titles {
    font-family: "HermeneusOne" !important;
    font-size: 50px;
    font-weight: 500 !important;
    line-height: 60px;
    letter-spacing: 5px;
    text-align: left;
    color: #000;
    padding-bottom: 120px;
}

.switch-account {
    cursor: pointer;
}

.login-sign-btn {
    font-family: "Hind", sans-serif !important;
    font-size: 52.22px;
    font-weight: 700 !important;
    line-height: 13.06px;
    text-align: left;
}

.loginpage-btn {
    background: #6D6D6D;
}

.login-shadow {
    -webkit-box-shadow: inset 8px 8px 30px 10px rgba(102, 102, 102, 0.8);
    box-shadow: inset 8px 8px 30px 10px rgba(102, 102, 102, 0.8);
    padding: 55px 40px 60px;
    border-radius: 50px;
}