.product-banner-contain h3 {
    font-size: 50px;
    font-weight: 400;
    line-height: 55px;
    text-align: left;
}
.product-banner-contain p{
    font-size: 35px;
    line-height: 40px;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    font-family: var(--inter-font);
}
.left-ring{
    position: absolute;
    top: 0;
    left: 0;
}
.right-ring{
    position: absolute;
    top: 0;
    right: 0;
}
.center-ring{
    position: absolute;
    bottom: 0;
    left: -50%;
    width: 190px;
}

img.product_imgs {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.prodcut-list_title {
    color: #4D5359;
}
.product-banner_img .product-banner_imgs{
    height: 400px;
    vertical-align: bottom;
}

@media screen and (max-width:576px) {
    img.product_imgs {
        height: 400px;
    }
}