<app-header></app-header>
<section class="home-banner">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-5">
                <div class="">
                    <img src="assets/images/home-banner.png" width="auto" height="auto" alt="img" />
                </div>
            </div>
            <div class="col-lg-7">
                <div class="home-right-content ps-5 pt-4">
                    <h6 class="banner-sub_title pb-3">A Nature’s Touch</h6>
                    <h1 class="home-banner_title"><span class="text-white">GET 20%</span> Off on all <br> Cosmetic Cream
                        <br> Packs
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-beauty position-relative">
    <img class="bg-about-beauty_section" src="assets/images/ellipase.png" />
    <div class="container">
        <div class="row m-0 align-items-center">
            <div class="col-lg-5">
                <div class="about-left_img">
                    <img src="assets/images/about-beauty.png" alt="img" width="100%" height="auto" />
                </div>
            </div>
            <div class="col-lg-7">
                <div class="right-beauty">
                    <h6 class="text-black">About us</h6>
                    <h3 class="text-black pt-2 pb-3">Bring Your Natural Beauty</h3>
                    <h5 class="text-black position-relative">We Belong to Something Beautiful</h5>
                    <p class="text-black py-4 beaty-desc">Our company announced a new tagline and manifesto, to reinforce our dedication to fostering
                        belonging among all clients and employees and to publicly strive for a more inclusive vision for
                        retail in the Americas.</p>
                    <ul class="about-beauty-list m-0 pb-3 px-0">
                        <li class="d-flex align-items-center pb-4">
                            <img src="assets/images/leaf.png" alt="" width="25px" />
                            <p class="beauty-list-content">Natural Skincare</p>
                        </li>
                        <li class="d-flex align-items-center pb-4">
                            <img src="assets/images/evolve.png" alt="" width="25px" />
                            <p class="beauty-list-content">evolve heathier</p>
                        </li>
                        <li class="d-flex align-items-center pb-4">
                            <img src="assets/images/eco.png" alt="" width="25px" />
                            <p class="beauty-list-content">eco-friendly</p>
                        </li>
                        <li class="d-flex align-items-center pb-4">
                            <img src="assets/images/hypo.png" alt="" width="25px" />
                            <p class="beauty-list-content">hypoallergenic</p>
                        </li>
                    </ul>
                    <button class="discover-now_btn">DISCOVER NOW</button>
                </div>
            </div>
        </div>
    </div>
</section>