<section class="home-banner">
    <div class="container">
        <div class="row m-0">
            <div class="col-xl-5 col-md-6">
                <div class="text-center">
                    <img src="assets/images/home-banner.png" width="auto" height="auto" alt="img" />
                </div>
            </div>
            <div class="col-xl-7 col-md-6">
                <div class="home-right-content ps-lg-5 ps-md-2 pt-4">
                    <h6 class="banner-sub_title  text-center text-md-start  pb-3">A Nature’s Touch</h6>
                    <h1 class="home-banner_title text-center text-md-start "><span class="text-white">GET 20%</span> Off
                        on all Cosmetic Cream
                        Packs
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-beauty position-relative">
    <img class="bg-about-beauty_section" src="assets/images/ellipase.png" />
    <div class="container">
        <div class="row m-0 align-items-center">
            <div class="col-lg-5">
                <div class="about-left_img">
                    <img src="assets/images/about-beauty.png" alt="img" width="100%" height="auto" />
                </div>
            </div>
            <div class="col-lg-7 pt-lg-0 pt-3">
                <div class="right-beauty">
                    <h6 class="text-black">About us</h6>
                    <h3 class="text-black common-section-inner-title pt-2 pb-lg-3 pb-2">Bring Your Natural Beauty</h3>
                    <h5 class="text-black position-relative">We Belong to Something Beautiful</h5>
                    <p class="text-black py-lg-4 py-3 beaty-desc">Our company announced a new tagline and manifesto, to
                        reinforce our dedication to fostering
                        belonging among all clients and employees and to publicly strive for a more inclusive vision for
                        retail in the Americas.</p>
                    <ul class="about-beauty-list m-0 pb-3 px-0">
                        <li class="d-flex align-items-center pb-md-4 pb-2">
                            <img src="assets/images/leaf.png" alt="" width="25px" />
                            <p class="beauty-list-content">Natural Skincare</p>
                        </li>
                        <li class="d-flex align-items-center pb-md-4 pb-2">
                            <img src="assets/images/evolve.png" alt="" width="25px" />
                            <p class="beauty-list-content">evolve heathier</p>
                        </li>
                        <li class="d-flex align-items-center pb-md-4 pb-2">
                            <img src="assets/images/eco.png" alt="" width="25px" />
                            <p class="beauty-list-content">eco-friendly</p>
                        </li>
                        <li class="d-flex align-items-center pb-md-4 pb-2">
                            <img src="assets/images/hypo.png" alt="" width="25px" />
                            <p class="beauty-list-content">hypoallergenic</p>
                        </li>
                    </ul>
                    <button class="discover-now_btn">DISCOVER NOW</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="featured-product pb-lg-5 pb-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 pb-lg-0 pb-3">
                <div class="product-quality-box text-left">
                    <p class="product-quality-subtitle text-black">best quality</p>
                    <h4 class="product-quality-title common-section-inner-title text-black py-2 pb-3">featured products
                    </h4>
                    <p class="product_quality-descrption text-black pb-lg-4 pb-3">Lorem ipsum dolor sit amet, adipiscing
                        elit,
                        sed do eiusmod tempor incididunt.</p>
                    <a href="" class="all-product_btn mt-3 text-black">view all products</a>
                </div>
            </div>
            <div class="col-md-4 pb-2">
                <div class="product-detail_box">
                    <img src="assets/images/product.png" alt="img" class="w-100" />
                    <div class="product-desc_box pt-2 text-center">
                        <p class="product-uses text-black">fragrance ,hair styling , mackup</p>
                        <h5 class="product_descrption text-black py-3">Fantastic Rubber Knife</h5>
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="assets/images/star.png" alt="star" />
                            <img src="assets/images/star.png" alt="star" />
                            <img src="assets/images/star.png" alt="star" />
                            <img src="assets/images/star.png" alt="star" />
                            <img src="assets/images/star.png" alt="star" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-2">
                <div class="product-detail_box">
                    <img src="assets/images/product.png" alt="img" class="w-100" />
                    <div class="product-desc_box pt-2 text-center">
                        <p class="product-uses text-black">fragrance ,hair styling , mackup</p>
                        <h5 class="product_descrption text-black py-3">Fantastic Rubber Knife</h5>
                        <div class="d-flex align-items-center justify-content-center">
                            <img src="assets/images/star.png" alt="star" />
                            <img src="assets/images/star.png" alt="star" />
                            <img src="assets/images/star.png" alt="star" />
                            <img src="assets/images/star.png" alt="star" />
                            <img src="assets/images/star.png" alt="star" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="best-seller py-lg-5 py-3">
    <div class="container">
        <div class="section-title-contain text-center pb-lg-5 pb-3">
            <h4 class="common-section-subtitle pb-1">Best Beauty</h4>
            <h2 class="common-section-title">Our Bestseller</h2>
        </div>
        <div class="scrollable-container">
            <div class="row">
                <div *ngIf="paginatedCategories.length === 1"
                    class="col-lg-4 col-md-4 custom-center-container" >
                    <div class="product-seller-box" >
                        <img [src]="paginatedCategories[0]?.categoryImage"     @carouselAnimation style="height: 250px;" class="w-100" />
                        <p class="product-sellertype-title py-md-3 py-2" style="font-size: 22px !important;">
                            {{ paginatedCategories[0]?.productCategoryName }}
                        </p>
                    </div>
                </div>
                <div *ngIf="paginatedCategories.length === 2"
                class=" custom-two-container" id="smooth">
                <div *ngFor="let item of paginatedCategories" class="col-lg-4 col-md-4">
                    <div class="product-seller-box text-center">
                        <img [src]="item.categoryImage" style="height: 250px;"    @carouselAnimation class="w-100" />
                        <p class="product-sellertype-title py-md-3 py-2" style="font-size: 22px !important;">{{ item.productCategoryName }}</p>
                    </div>
                </div>
            </div>
                <ng-container *ngIf="paginatedCategories.length > 2" id="smooth">
                    <div *ngFor="let item of paginatedCategories" class="col-lg-4 col-md-6">
                        <div class="product-seller-box text-center">
                            <img [src]="item.categoryImage" style="height: 250px;"    @carouselAnimation class="w-100 slide" />
                            <h5 class="product-sellertype-title py-md-3 py-2" style="font-size: 22px !important;">{{ item.productCategoryName }}</h5>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="pagination-dots text-center mt-4" *ngIf="dots.length > 1">
            <span *ngFor="let dot of dots; let i = index" [class.active]="i + 1 === currentPage"
                (click)="goToPage(i + 1)" class="pagination-dot"></span>
        </div>
    </div>
</section>



<section class="testimonial-section">
    <div class="container">
        <div class="section-title-contain text-center pb-5">
            <h4 class="common-section-subtitle pb-1">Testimonial</h4>
            <h2 class="common-section-title" style="color: black;">Customers Said</h2>
        </div>
       
        <div class="testimonial-inner_data">
            <!-- <div class=""> -->
            <img class="product-imgs" src="assets/images/testimonial-img.png" />
            <!-- </div> -->
            <div class="triangle1"></div>
            <div class="client-review-box bg-white">
                <div class="d-flex">
                    <img class="client-review-img" alt="img" src="assets/images/client.png" />
                    <p class="client-name">Jenny</p>
                </div>
                <div class="triangle"></div>
                <p class="client-quote text-capitalize mt-2">the service was excellent. if you want real marketing that
                    works and effective implementation- beauty
                    center’s got you covered.”</p>
            </div>
        </div>
    </div>
</section>
<app-instagram className="home"></app-instagram>
<app-newslatter></app-newslatter>