.about-instagram{
    padding: 25px 0 30px !important;
}
.instagram{
    padding: 70px 0;
}
.instagram .slick-slide img {
    max-width: 291px;
    max-height: 291px;
    width: 100%;
    object-fit: cover;
    height: 100%;
    margin: 0 auto;
}


@media screen and (max-width:1200px) {
    .instagram{
        padding: 60px 0;
    }
}
@media screen and (max-width:1200px) {
    .instagram .slick-slide img{
        max-width: 100%;
    }
    .instagram{
        padding: 35px 0;
    }
}
@media screen and (max-width:420px) {
    .instagram{
        padding: 25px 0;
    }
}
