/* You can add global styles to this file, and also import other style files */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    font-family: "Baumans", system-ui;
    font-weight: 400;
    font-style: normal;
}

input:focus {
    outline: none;
}

.container {
    max-width: 1608px !important;

}

img {
    max-width: 100%;
}
a{
    text-decoration: none !important;
}

:root {
    --main-bg-color: #6D6D6D;
    --text-white: #fff;
    --inter-font: "Inter", sans-serif;
    --hind-font: "Hind", sans-serif;
    --aoboshi-font: "Aoboshi One", serif;
    --alegreya-sans-font:"Alegreya Sans SC", sans-serif;
}

footer,
.home-banner {
    background-color: var(--main-bg-color);
}
.common-section-title{
    font-size: 55px;
    line-height: 60px;
    text-align: center;
    color: #4D5359;
}

.common-section-subtitle{
    font-family: var(--inter-font);
    text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    font-weight: 400;
    color: #000;
}
.slick-slider {
    width: 100%;
    overflow: hidden;
    margin: auto;
    background: rgb(14, 13, 13);
  }